<html>
<head>
    <meta charset="UTF-8">
    <title>Sayfam :))</title>
</head>
<body>
    <h3>Todo App</h3>
    Sayi1: {{ number }}<br>
    Sayi2: {{ number_two }}
    
    {% if message %}
        <p> {{ message}}</p>
    {% else %}
        <p> noldu şimdi ..</p>
    {% endif %}
    <ul>
    {% for  number in numbers  %}
        <li> {{ number }}</li>
    
    {% endfor %}
    </ul>

    <form action="/toplam" method ="post">
    <input type ="number" name = "number1">
    <input type ="number" name = "number2">
    <button type ="submit"> Gönder </button> 
        
</body>
</html>